.underbar {
    /* background-color: chocolate; */
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(131, 131, 131);
}

.blackbox{
    color: white;
    font-size: 1.1rem;
    font-weight: 900;

    border: none;
    

    background-color: rgb(65, 65, 65);
}

.bluebox{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 25px;

    border: none;
    border-radius: 5px;
    background-color: rgb(0, 144, 233);

    margin-bottom: 10px;
}